[Unit]
Description=sdp instance
Documentation=http://docs.sdp.org
Wants=network-online.target
After=network-online.target
After=postgresql.service mariadb.service mysql.service

[Service]
EnvironmentFile=/etc/default/sdp-server
User=sdp
Group=sdp
Type=simple
Restart=on-failure
WorkingDirectory=/usr/share/sdp
RuntimeDirectory=sdp
RuntimeDirectoryMode=0750
ExecStart=/usr/sbin/sdp-server                                                  \
                            --config=${CONF_FILE}                                   \
                            --pidfile=${PID_FILE_DIR}/sdp-server.pid            \
                            cfg:default.paths.logs=${LOG_DIR}                       \
                            cfg:default.paths.data=${DATA_DIR}                      \
                            cfg:default.paths.plugins=${PLUGINS_DIR}                \
                            cfg:default.paths.provisioning=${PROVISIONING_CFG_DIR}  


LimitNOFILE=10000
TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target
